---
apiVersion: v1
kind: Secret
data:
  .dockerconfigjson: ${WKHS_GITLAB_REGISTRY_TOKEN}
metadata:
  name: registry-workoholics
  namespace: {{ namespace }}
type: kubernetes.io/dockerconfigjson
{%- if secret_vars.get(component) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ project_name }}-{{ component }}-secrets
  namespace: {{ namespace }}
type: Opaque
stringData:
{%- for secret_name in secret_vars.get(component, []) %}
  {{ secret_name }}: {{ '${' + secret_name + '}' }}
{%- endfor %}
{%- endif %}
